* {
	cursor: none;
}
/**/
html {
	scrollbar-width: 0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
user agent stylesheet html {
	display: block;
}
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::selection {
	background: #ff5252;
	color: #fff;
}

/**/
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.75;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
	color: #333;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
		overflow: auto;
	}
}

h1 {
	font-family: 'Dokdo';
	font-size: 4em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.03em;
}

h2 {
	line-height: 1.4;
}

.view a {
	text-decoration: none;
}

.view a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3.5em;
	}
	.view h1 {
		margin-top: 0;
	}
}

.app {
	text-align: center;
	min-height: 100%;
	background-color: #fff;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.app {
		padding: 1em 0.5em 0.5em;
		min-height: 100%;
	}
}

.clear {
	clear: both;
}
.with--accent {
	color: #ff5252;
	font-weight: 600;
}
.x .content {
	background-color: transparent;
}
.content {
	border-radius: 4px;
	background-color: #ddd8;
	color: #101010;
	max-width: 50em;
	min-height: 100%;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
}

.content--inner {
	min-height: 100%;
	padding: 3em;
	display: flex;
	flex-direction: row;
}
.content--inner p {
	font-size: 15px;
}

.content--image {
	min-height: 100%;
	text-align: center;
	width: 50%;
}
.content--image img {
	padding: 20px;
	max-width: 20em;
	max-height: 20em;
}
.content--text {
	text-align: justify;
	width: 50%;
	min-height: 20em;
}

@media screen and (max-width: 830px) {
	.content--inner {
		padding: 1em;
		flex-direction: column;
	}
	.content--image img {
		max-width: 300px;
		max-height: 300px;
	}
}

.cursor {
	position: absolute;
	background-color: #333;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);
}
.cursor.active {
	opacity: 0.5;
	background-color: rebeccapurple;
	transform: scale(0);
}
.cursor.hovered {
	opacity: 0.08;
}
.follow {
	position: absolute;
	background-color: #00000011;
	width: 30px;
	height: 30px;
	border: 1px #333 solid;
	border-radius: 100%;
	/*filter: invert(100%);*/
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(23px, 23px);
}
.follow.active {
	border-radius: 0;
}
#greet span {
	padding: 5px;
}
#greet span:hover {
	padding: 4px;
	border: 1px #333 solid;
}

@media screen and (max-width: 768px) {
	* {
		cursor: auto;
	}
	.cursor {
		display: none;
	}
	.follow {
		opacity: 0;
	}
}
.soc--link {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	display: block;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.soc--link img {
	margin-right: 10px;
}
.soc--link {
	padding: 5px;
}
.soc--link:hover {
	padding: 4px;
	border: 1px #333 solid;
}
.soc--link a {
	text-decoration: none;
	color: black;
	line-height: 30px;
}
.soc--link a:hover {
	text-decoration: none;
	font-weight: 600;
	color: #ff5252;
}

.corner-ribbon{
  width: 250px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  top: 55px;
  right: -60px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	background: #39d;
	z-index: 1005;
}